<main>
  <h1>Todo App Angular</h1>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Add Todo</mat-label>
      <input name="todo input" [(ngModel)]="todoInput" matInput />
    </mat-form-field>
    <button (click)="addTask()" mat-fab [disabled]="!(todoInput.length > 0)">
      <mat-icon>add</mat-icon>
    </button>
  </form>

  <h1>Todo List</h1>
  <div class="todo-list">
    <h4 *ngFor="let item; index as i; of: tasks">
      {{ item.title }}
      <mat-checkbox
        [checked]="item.completed"
        (change)="completeTask(i)"
      ></mat-checkbox>
      <button (click)="deleteTask(i)" mat-mini-fab>
        <mat-icon>delete</mat-icon>
      </button>
    </h4>
  </div>
</main>
